Repository pywemo/pywemo: changes, and which pre-commit hooks are due for each by the changed paths.
All: poetry-check, poetry-lock-check, bootstrap-requirements, generateDS, flake8, pylint, rstcheck, deptry

.pre-commit-config.yaml:

repos:
  - repo: local
    hooks:
      - id: poetry-check
        name: poetry-check
        language: system
        entry: poetry check
        pass_filenames: false
        types: [file]
        files: ^(pyproject.toml|poetry.lock)$

      - id: poetry-lock-check
        name: poetry-lock-check
        language: system
        entry: poetry lock
        args: ['--no-update']
        pass_filenames: false
        types: [file]
        files: ^(pyproject.toml|poetry.lock)$

      - id: bootstrap-requirements
        name: bootstrap-requirements
        language: system
        entry: poetry export
        args:
          - --only=bootstrap
          - --format=requirements.txt
          - --output=scripts/bootstrap-requirements.txt_
        pass_filenames: false
        types: [file]
        files: ^(pyproject.toml|poetry.lock|scripts/bootstrap-requirements.txt_)$

      - id: generateDS
        name: generateDS
        language: system
        entry: python scripts/generate_ds.py
        args:
          - pywemo/ouimeaux_device/api/xsd/device.xsd
          - pywemo/ouimeaux_device/api/xsd/service.xsd
        pass_filenames: false
        types: [file]
        files: ^(pyproject.toml|poetry.lock|scripts/generate_ds.py|pywemo/ouimeaux_device/api/xsd/.*)$

      - id: isort
        name: isort
        language: system
        entry: isort
        args: ['--filter-files']
        require_serial: true
        types_or: [cython, pyi, python]

      - id: black
        name: black
        language: system
        entry: black
        require_serial: true
        types_or: [python, pyi]

      - id: flake8
        name: flake8
        language: system
        entry: flake8
        require_serial: true
        types: [python]

      - id: pylint
        name: pylint
        language: system
        entry: pylint
        args: ['--disable=fixme']
        require_serial: true
        types: [python]

      - id: mypy
        name: mypy
        language: system
        entry: mypy
        require_serial: true
        types_or: [python, pyi]
        # By default mypy will prefer .pyi files to py files if both are found
        # While traversing a directory. However mypy will fail if
        # both wemo_services.py & wemo_services.pyi are included in the
        # command line. wemo_services.py is excluded here and pyi files are
        # included in the types_or as a work-around. mypy also has an
        # 'exclude' option that can be placed in pyproject.toml, but similar
        # to flake8 above, any files passed on the command-line bypass
        # 'exclude'.
        exclude: pywemo/ouimeaux_device/api/wemo_services.py

      - id: rstcheck
        name: rstcheck
        language: system
        entry: rstcheck
        types: [rst]

      - id: deptry
        name: deptry
        language: system
        entry: deptry .
        pass_filenames: false
        types: [python]

Normalize strings
  pyproject.toml
  pywemo/discovery.py
  pywemo/ouimeaux_device/__init__.py
  pywemo/ouimeaux_device/api/service.py
  pywemo/ouimeaux_device/api/xsd/device.py
  pywemo/ouimeaux_device/api/xsd/service.py
  pywemo/ouimeaux_device/bridge.py
  pywemo/ouimeaux_device/crockpot.py
  pywemo/ouimeaux_device/insight.py
  pywemo/ssdp.py
  pywemo/subscribe.py
  pywemo/util.py
  scripts/generate_ds.py
  scripts/generate_wemo_services.py
  tests/conftest.py
  tests/ouimeaux_device/api/unit/test_long_press.py
  tests/ouimeaux_device/api/unit/test_rules.py
  tests/ouimeaux_device/api/unit/test_service.py
  tests/ouimeaux_device/api/unit/test_xsd_types.py
  tests/ouimeaux_device/test_bridge.py
  tests/ouimeaux_device/test_device.py
  tests/ouimeaux_device/test_dimmer.py
  tests/ouimeaux_device/test_humidifier.py
  tests/ouimeaux_device/test_insight.py
  tests/ouimeaux_device/test_lightswitch.py
  tests/ouimeaux_device/test_maker.py
  tests/ouimeaux_device/test_outdoor_plug.py
  tests/ouimeaux_device/test_switch.py
  tests/test_discovery.py
  tests/test_ssdp.py
  tests/test_subscribe.py
Due: poetry-check, poetry-lock-check, bootstrap-requirements, generateDS, flake8, pylint, deptry

Normalize strings (#423)
  pyproject.toml
  pywemo/discovery.py
  pywemo/ouimeaux_device/__init__.py
  pywemo/ouimeaux_device/api/service.py
  pywemo/ouimeaux_device/api/xsd/device.py
  pywemo/ouimeaux_device/api/xsd/service.py
  pywemo/ouimeaux_device/bridge.py
  pywemo/ouimeaux_device/crockpot.py
  pywemo/ouimeaux_device/insight.py
  pywemo/ssdp.py
  pywemo/subscribe.py
  pywemo/util.py
  scripts/generate_ds.py
  scripts/generate_wemo_services.py
  tests/conftest.py
  tests/ouimeaux_device/api/unit/test_long_press.py
  tests/ouimeaux_device/api/unit/test_rules.py
  tests/ouimeaux_device/api/unit/test_service.py
  tests/ouimeaux_device/api/unit/test_xsd_types.py
  tests/ouimeaux_device/test_bridge.py
  tests/ouimeaux_device/test_device.py
  tests/ouimeaux_device/test_dimmer.py
  tests/ouimeaux_device/test_humidifier.py
  tests/ouimeaux_device/test_insight.py
  tests/ouimeaux_device/test_lightswitch.py
  tests/ouimeaux_device/test_maker.py
  tests/ouimeaux_device/test_outdoor_plug.py
  tests/ouimeaux_device/test_switch.py
  tests/test_discovery.py
  tests/test_ssdp.py
  tests/test_subscribe.py
Due: poetry-check, poetry-lock-check, bootstrap-requirements, generateDS, flake8, pylint, deptry

Prevent invalid values for CrockPot attributes
  pywemo/ouimeaux_device/crockpot.py
  tests/ouimeaux_device/test_crockpot.py
  tests/test_registry_notify_fuzz.py
Due: flake8, pylint, deptry

None is valid for type_filter in SubscriptionRegistry.on (#422)
  pywemo/subscribe.py
Due: flake8, pylint, deptry

_Attributes is for CrockPot, not LinkedDevice
  pywemo/ouimeaux_device/crockpot.py
Due: flake8, pylint, deptry

Prevent invalid values for CrockPot attributes (#421)
  pywemo/ouimeaux_device/crockpot.py
  tests/ouimeaux_device/test_crockpot.py
  tests/test_registry_notify_fuzz.py
Due: flake8, pylint, deptry

Test setup_url_for_address
  tests/test_discovery.py
Due: flake8, pylint, deptry

Test setup_url_for_address (#424)
  tests/test_discovery.py
Due: flake8, pylint, deptry

Update bootstrap-requirements
  poetry.lock
  scripts/bootstrap-requirements.txt_
Due: poetry-check, poetry-lock-check, bootstrap-requirements, generateDS

Bridge Lights/Groups are not shared across devices
  pywemo/ouimeaux_device/bridge.py
  tests/vcr/tests.ouimeaux_device.test_bridge/test_light_start_ramp.yaml
Due: flake8, pylint, deptry

Use snake_case names for light & groups
  pywemo/ouimeaux_device/bridge.py
  tests/ouimeaux_device/test_bridge.py
Due: flake8, pylint, deptry

Bridge Lights/Groups are not shared across devices (#432)
  pywemo/ouimeaux_device/bridge.py
  tests/ouimeaux_device/test_bridge.py
  tests/vcr/tests.ouimeaux_device.test_bridge/test_light_start_ramp.yaml
Due: flake8, pylint, deptry

Adjust calls/types for lxml
  poetry.lock
  pyproject.toml
  pywemo/exceptions.py
  pywemo/ouimeaux_device/api/attributes.py
  pywemo/ouimeaux_device/api/service.py
  pywemo/ouimeaux_device/bridge.py
  pywemo/subscribe.py
Due: poetry-check, poetry-lock-check, bootstrap-requirements, generateDS, flake8, pylint, deptry

Implement an UNSUBSCRIBE handler
  pywemo/subscribe.py
  tests/test_subscribe.py
  tests/vcr/tests.test_subscribe/WeMo_WW_2.00.11408.PVT-OWRT-LS.yaml
Due: flake8, pylint, deptry

Run more hypothesis examples for longer under CI
  tests/conftest.py
Due: flake8, pylint, deptry

Implement an UNSUBSCRIBE handler (#436)
  pywemo/subscribe.py
  tests/test_subscribe.py
  tests/vcr/tests.test_subscribe/WeMo_WW_2.00.11408.PVT-OWRT-LS.yaml
Due: flake8, pylint, deptry

Run more hypothesis examples for longer under CI (#437)
  tests/conftest.py
Due: flake8, pylint, deptry

Adjust calls/types for lxml (#434)
  poetry.lock
  pyproject.toml
  pywemo/exceptions.py
  pywemo/ouimeaux_device/api/attributes.py
  pywemo/ouimeaux_device/api/service.py
  pywemo/ouimeaux_device/bridge.py
  pywemo/subscribe.py
Due: poetry-check, poetry-lock-check, bootstrap-requirements, generateDS, flake8, pylint, deptry

Provide proper responses to Action requests for the virual device
  pywemo/subscribe.py
  tests/test_subscribe.py
Due: flake8, pylint, deptry

Validate the POST request handler using a pyWeMo device
  tests/test_subscribe.py
Due: flake8, pylint, deptry

Use the correct content-type for POST responses
  pywemo/subscribe.py
  tests/test_subscribe.py
Due: flake8, pylint, deptry

Include UPnP/1.0 in the server header
  pywemo/subscribe.py
  tests/test_subscribe.py
Due: flake8, pylint, deptry

Provide proper responses to Action requests for the virual device (#435)
  pywemo/subscribe.py
  tests/test_subscribe.py
Due: flake8, pylint, deptry

Bump cryptography from 40.0.2 to 41.0.1
  poetry.lock
  scripts/bootstrap-requirements.txt_
Due: poetry-check, poetry-lock-check, bootstrap-requirements, generateDS

Bump cryptography from 40.0.2 to 41.0.1 (#438)
  poetry.lock
  scripts/bootstrap-requirements.txt_
Due: poetry-check, poetry-lock-check, bootstrap-requirements, generateDS

Rename n_password->len_original (#439)
  pywemo/ouimeaux_device/__init__.py
Due: flake8, pylint, deptry

Validate Bridge values before assigning state
  pywemo/ouimeaux_device/bridge.py
  tests/ouimeaux_device/test_bridge.py
  tests/vcr/tests.ouimeaux_device.test_bridge/test_bridge_unavailable_light.yaml
Due: flake8, pylint, deptry

len(color_control) < 2
  pywemo/ouimeaux_device/bridge.py
Due: flake8, pylint, deptry

Validate attributes before assignment
  pywemo/ouimeaux_device/api/attributes.py
  pywemo/ouimeaux_device/api/xsd_types.py
  pywemo/ouimeaux_device/coffeemaker.py
  pywemo/ouimeaux_device/humidifier.py
  pywemo/ouimeaux_device/maker.py
  tests/ouimeaux_device/test_maker.py
Due: flake8, pylint, deptry

Create SECURITY.md
  SECURITY.md
Due: none

Create SECURITY.md (#448)
  SECURITY.md
Due: none

Validate Bridge values before assigning state (#443)
  pywemo/ouimeaux_device/bridge.py
  tests/ouimeaux_device/test_bridge.py
  tests/vcr/tests.ouimeaux_device.test_bridge/test_bridge_unavailable_light.yaml
Due: flake8, pylint, deptry

Validate attributes before assignment (#444)
  pywemo/ouimeaux_device/api/attributes.py
  pywemo/ouimeaux_device/api/xsd_types.py
  pywemo/ouimeaux_device/coffeemaker.py
  pywemo/ouimeaux_device/humidifier.py
  pywemo/ouimeaux_device/maker.py
  tests/ouimeaux_device/test_maker.py
Due: flake8, pylint, deptry

Extend the reach of the NOTIFY hypothesis tests
  tests/test_registry_notify_fuzz.py
Due: flake8, pylint, deptry

Import annotations from __future__
  tests/test_registry_notify_fuzz.py
Due: flake8, pylint, deptry

Additional Bridge test cases
  tests/test_registry_notify_fuzz.py
Due: flake8, pylint, deptry

Additional Attribute test cases
  tests/test_registry_notify_fuzz.py
Due: flake8, pylint, deptry

Extend the reach of the NOTIFY hypothesis tests (#441)
  tests/test_registry_notify_fuzz.py
Due: flake8, pylint, deptry

Fuzz test_registry_notify_fuzz with Atheris
  tests/atheris_stub.py
  tests/test_registry_notify_fuzz.py
Due: flake8, pylint, deptry
