Repository pywemo/pywemo: changes, and which pre-commit hooks are due for each by the changed paths.
All: poetry-check, poetry-lock-check, bootstrap-requirements, generateDS, flake8, pylint, rstcheck, deptry

poetry-check:
  name: poetry-check
  language: system
  entry: poetry check
  pass_filenames: false

poetry-lock-check:
  name: poetry-lock-check
  language: system
  entry: poetry lock
  args:
  - --no-update
  pass_filenames: false

bootstrap-requirements:
  name: bootstrap-requirements
  language: system
  entry: poetry export
  args:
  - --only=bootstrap
  - --format=requirements.txt
  - --output=scripts/bootstrap-requirements.txt_
  pass_filenames: false

generateDS:
  name: generateDS
  language: system
  entry: python scripts/generate_ds.py
  args:
  - pywemo/ouimeaux_device/api/xsd/device.xsd
  - pywemo/ouimeaux_device/api/xsd/service.xsd
  pass_filenames: false

flake8:
  name: flake8
  language: system
  entry: flake8
  require_serial: true

pylint:
  name: pylint
  language: system
  entry: pylint
  args:
  - --disable=fixme
  require_serial: true

rstcheck:
  name: rstcheck
  language: system
  entry: rstcheck

deptry:
  name: deptry
  language: system
  entry: deptry .
  pass_filenames: false

Add firmwareVersion & presentationURL to setup.xml
  pywemo/subscribe.py
Due: flake8, pylint, deptry

Set modelName to match VIRTUAL_DEVICE_UDN
  pywemo/subscribe.py
Due: flake8, pylint, deptry

serialNumber matches VIRTUAL_DEVICE_UDN
  pywemo/subscribe.py
Due: flake8, pylint, deptry

Set deviceType to match F7C027
  pywemo/subscribe.py
Due: flake8, pylint, deptry

next_notify more closely matches actual device behavior
  pywemo/ssdp.py
Due: flake8, pylint, deptry

Allow one missed message within the max-age window
  pywemo/ssdp.py
Due: flake8, pylint, deptry

Match logic to pupnp code
  pywemo/ssdp.py
Due: flake8, pylint, deptry

Update deptry config after update to 0.12.0
  pyproject.toml
Due: poetry-check, poetry-lock-check, bootstrap-requirements, generateDS

Add comment describing DEP001
  pyproject.toml
Due: poetry-check, poetry-lock-check, bootstrap-requirements, generateDS

Update deptry config after update to 0.12.0 (#484)
  pyproject.toml
Due: poetry-check, poetry-lock-check, bootstrap-requirements, generateDS

Dependabot should update all dependencies
  .github/dependabot.yml
Due: none

Both direct/indirect are wanted
  .github/dependabot.yml
Due: none

Dependabot should update all dependencies (#486)
  .github/dependabot.yml
Due: none

Update scorecard badge URL
  README.rst
Due: rstcheck

Update scorecard badge URL (#494)
  README.rst
Due: rstcheck

Fix missing setup.xml elements (#480)
  pywemo/subscribe.py
Due: flake8, pylint, deptry

Decrease the frequency of NOTIFY messages (#481)
  pywemo/ssdp.py
Due: flake8, pylint, deptry

Fix missing SSDP headers
  pywemo/ssdp.py
  tests/test_ssdp.py
Due: flake8, pylint, deptry

Fix missing SSDP headers (#482)
  pywemo/ssdp.py
  tests/test_ssdp.py
Due: flake8, pylint, deptry

Send byebye SSDP message when exiting
  pywemo/ssdp.py
  tests/test_ssdp.py
Due: flake8, pylint, deptry

Send byebye SSDP message when exiting (#495)
  pywemo/ssdp.py
  tests/test_ssdp.py
Due: flake8, pylint, deptry

Version 1.1.0
  pyproject.toml
Due: poetry-check, poetry-lock-check, bootstrap-requirements, generateDS

Version 1.1.0 (#497)
  pyproject.toml
Due: poetry-check, poetry-lock-check, bootstrap-requirements, generateDS

Dependency updates
  poetry.lock
  scripts/bootstrap-requirements.txt_
Due: poetry-check, poetry-lock-check, bootstrap-requirements, generateDS

Dependency updates (#516)
  poetry.lock
  scripts/bootstrap-requirements.txt_
Due: poetry-check, poetry-lock-check, bootstrap-requirements, generateDS

Older F7C030 device support
  pywemo/discovery.py
  tests/ouimeaux_device/test_lightswitch.py
  tests/vcr/tests.ouimeaux_device.test_lightswitch/Test_NoLongPress.test_turn_off.yaml
  tests/vcr/tests.ouimeaux_device.test_lightswitch/Test_NoLongPress.test_turn_on.yaml
  tests/vcr/tests.ouimeaux_device.test_lightswitch/WeMo_WW_2.00.2263.PVT.yaml
Due: flake8, pylint, deptry

F7C030 non-longpress support (#518)
  pywemo/discovery.py
  tests/ouimeaux_device/test_lightswitch.py
  tests/vcr/tests.ouimeaux_device.test_lightswitch/Test_NoLongPress.test_turn_off.yaml
  tests/vcr/tests.ouimeaux_device.test_lightswitch/Test_NoLongPress.test_turn_on.yaml
  tests/vcr/tests.ouimeaux_device.test_lightswitch/WeMo_WW_2.00.2263.PVT.yaml
Due: flake8, pylint, deptry

1.2.0 release
  pyproject.toml
Due: poetry-check, poetry-lock-check, bootstrap-requirements, generateDS

1.2.0 release (#519)
  pyproject.toml
Due: poetry-check, poetry-lock-check, bootstrap-requirements, generateDS

RulesDbError should be a PyWeMoException
  pywemo/exceptions.py
Due: flake8, pylint, deptry

RulesDbError should be a PyWeMoException (#522)
  pywemo/exceptions.py
Due: flake8, pylint, deptry

Bump version to 1.2.1
  pyproject.toml
Due: poetry-check, poetry-lock-check, bootstrap-requirements, generateDS

Bump version to 1.2.1 (#523)
  pyproject.toml
Due: poetry-check, poetry-lock-check, bootstrap-requirements, generateDS

August dependency updates
  poetry.lock
  scripts/bootstrap-requirements.txt_
Due: poetry-check, poetry-lock-check, bootstrap-requirements, generateDS

August dependency updates (#525)
  poetry.lock
  scripts/bootstrap-requirements.txt_
Due: poetry-check, poetry-lock-check, bootstrap-requirements, generateDS

Resolve all environment variables for sigstore input
  .github/workflows/publish.yml
Due: none

Resolve all environment variables for sigstore input (#529)
  .github/workflows/publish.yml
Due: none

Dependency bumps (multiple)
  poetry.lock
  scripts/bootstrap-requirements.txt_
Due: poetry-check, poetry-lock-check, bootstrap-requirements, generateDS

Dependency bumps (multiple) (#547)
  poetry.lock
  scripts/bootstrap-requirements.txt_
Due: poetry-check, poetry-lock-check, bootstrap-requirements, generateDS

Subscriptions support multiple devices per IP address
  pywemo/subscribe.py
  tests/ouimeaux_device/test_dimmer.py
  tests/test_registry_notify_fuzz.py
  tests/test_subscribe.py
Due: flake8, pylint, deptry

Path conditions:
  poetry-check: any of: ^(pyproject.toml|poetry.lock)$
  poetry-lock-check: any of: ^(pyproject.toml|poetry.lock)$
  bootstrap-requirements: any of: ^(pyproject.toml|poetry.lock|scripts/bootstrap-requirements.txt_)$
  generateDS: any of: ^(pyproject.toml|poetry.lock|scripts/generate_ds.py|pywemo/ouimeaux_device/api/xsd/.*)$
  flake8: any of: \.py$
  pylint: any of: \.py$
  rstcheck: any of: \.rst$
  deptry: any of: \.py$
