Repository pywemo/pywemo: changes, and which pre-commit hooks are due for each by the changed paths.
All: poetry-check, poetry-lock-check, bootstrap-requirements, generateDS, flake8, pylint, rstcheck, deptry

poetry-check:
  name: poetry-check
  language: system
  entry: poetry check
  pass_filenames: false

poetry-lock-check:
  name: poetry-lock-check
  language: system
  entry: poetry lock
  args:
  - --no-update
  pass_filenames: false

bootstrap-requirements:
  name: bootstrap-requirements
  language: system
  entry: poetry export
  args:
  - --only=bootstrap
  - --format=requirements.txt
  - --output=scripts/bootstrap-requirements.txt_
  pass_filenames: false

generateDS:
  name: generateDS
  language: system
  entry: python scripts/generate_ds.py
  args:
  - pywemo/ouimeaux_device/api/xsd/device.xsd
  - pywemo/ouimeaux_device/api/xsd/service.xsd
  pass_filenames: false

flake8:
  name: flake8
  language: system
  entry: flake8
  require_serial: true

pylint:
  name: pylint
  language: system
  entry: pylint
  args:
  - --disable=fixme
  require_serial: true

rstcheck:
  name: rstcheck
  language: system
  entry: rstcheck

deptry:
  name: deptry
  language: system
  entry: deptry .
  pass_filenames: false

Remove SubscriptionRegistry.devices
  pywemo/subscribe.py
  tests/test_subscribe.py
Due: flake8, pylint, deptry

Make subscription_paths private
  pywemo/subscribe.py
  tests/ouimeaux_device/test_dimmer.py
  tests/test_registry_notify_fuzz.py
  tests/test_subscribe.py
Due: flake8, pylint, deptry

Warn about deprecated SubscriptionRegistry.devices property
  pywemo/subscribe.py
  tests/test_subscribe.py
Due: flake8, pylint, deptry

Keep the service name in the subscription path to ease debugging
  pywemo/subscribe.py
Due: flake8, pylint, deptry

Simplify SubscriptionRegistry.unregister
  pywemo/subscribe.py
Due: flake8, pylint, deptry

Unsubscribe from device when unregistering
  pywemo/subscribe.py
  tests/test_subscribe.py
  tests/vcr/tests.ouimeaux_device.test_dimmer/Test_PVT_RTOS_Dimmer_v2.test_is_subscribed.yaml
  tests/vcr/tests.ouimeaux_device.test_insight/Test_Insight.test_subscribe.yaml
  tests/vcr/tests.test_subscribe/Test_SubscriptionRegistry.test_register_unregister.yaml
Due: flake8, pylint, deptry

Add note about why host/IP is still validated
  pywemo/subscribe.py
Due: flake8, pylint, deptry

Unsubscribe from device when unregistering (#559)
  pywemo/subscribe.py
  tests/test_subscribe.py
  tests/vcr/tests.ouimeaux_device.test_dimmer/Test_PVT_RTOS_Dimmer_v2.test_is_subscribed.yaml
  tests/vcr/tests.ouimeaux_device.test_insight/Test_Insight.test_subscribe.yaml
  tests/vcr/tests.test_subscribe/Test_SubscriptionRegistry.test_register_unregister.yaml
Due: flake8, pylint, deptry

Subscriptions support multiple devices per IP address (#558)
  pywemo/subscribe.py
  tests/ouimeaux_device/test_dimmer.py
  tests/test_registry_notify_fuzz.py
  tests/test_subscribe.py
Due: flake8, pylint, deptry

Version 1.3.0
  pyproject.toml
Due: poetry-check, poetry-lock-check, bootstrap-requirements, generateDS

Version 1.3.0 (#560)
  pyproject.toml
Due: poetry-check, poetry-lock-check, bootstrap-requirements, generateDS

Prioritize linux tests before MacOS & Windows
  .github/workflows/build.yml
Due: none

Update comment in poetry.lock
  poetry.lock
Due: poetry-check, poetry-lock-check, bootstrap-requirements, generateDS

After resetting poetry cache
  poetry.lock
Due: poetry-check, poetry-lock-check, bootstrap-requirements, generateDS

Prioritize linux tests before MacOS & Windows (#569)
  .github/workflows/build.yml
  poetry.lock
Due: poetry-check, poetry-lock-check, bootstrap-requirements, generateDS

Use assert_called_once_with in test, not called_once_with
  tests/test_subscribe.py
Due: flake8, pylint, deptry

Use assert_called_once_with in test, not called_once_with (#570)
  tests/test_subscribe.py
Due: flake8, pylint, deptry

Disable Poetry lock check pre-commit
  .pre-commit-config.yaml
Due: none

Disable Poetry lock check pre-commit (#595)
  .pre-commit-config.yaml
Due: none

Bump dependencies
  poetry.lock
  scripts/bootstrap-requirements.txt_
Due: poetry-check, poetry-lock-check, bootstrap-requirements, generateDS

Bump dependencies (#596)
  poetry.lock
  scripts/bootstrap-requirements.txt_
Due: poetry-check, poetry-lock-check, bootstrap-requirements, generateDS

Add --no-cache option to poetry update
  scripts/update_deps.sh
Due: none

Add --no-cache option to poetry update (#598)
  scripts/update_deps.sh
Due: none

Add python version to build cache
  .github/workflows/build.yml
Due: none

Add python version to build cache (#599)
  .github/workflows/build.yml
Due: none

Dependabot causes too many intermediate package downgrades
  .github/dependabot.yml
Due: none

Dependabot causes too many intermediate package downgrades (#605)
  .github/dependabot.yml
Due: none

Add runtime.txt for Dependabot
  runtime.txt
Due: none

Add runtime.txt for Dependabot (#620)
  runtime.txt
Due: none

Update runtime.txt
  runtime.txt
Due: none

Replace runtime.txt with .python-version
  .gitignore
  .python-version
  runtime.txt
Due: none

Replace runtime.txt with .python-version (#622)
  .gitignore
  .python-version
  runtime.txt
Due: none

Remove .python-version
  .gitignore
  .python-version
Due: none

Remove .python-version (#623)
  .gitignore
  .python-version
Due: none

Bump urllib3 to 1.26.17
  poetry.lock
  scripts/bootstrap-requirements.txt_
Due: poetry-check, poetry-lock-check, bootstrap-requirements, generateDS

Bump urllib3 to 1.26.17 (#624)
  poetry.lock
  scripts/bootstrap-requirements.txt_
Due: poetry-check, poetry-lock-check, bootstrap-requirements, generateDS

Support for DimmerV2 transition times
  pywemo/ouimeaux_device/dimmer.py
  tests/ouimeaux_device/test_dimmer.py
  tests/vcr/tests.ouimeaux_device.test_dimmer/Test_PVT_RTOS_Dimmer_v2.test_set_brightness_transition[20-100-1-100].yaml
  tests/vcr/tests.ouimeaux_device.test_dimmer/Test_PVT_RTOS_Dimmer_v2.test_set_brightness_transition[20-45-1-45].yaml
  tests/vcr/tests.ouimeaux_device.test_dimmer/Test_PVT_RTOS_Dimmer_v2.test_set_brightness_transition[60-0-0-60].yaml
  tests/vcr/tests.ouimeaux_device.test_dimmer/Test_PVT_RTOS_Dimmer_v2.test_toggle.yaml
  tests/vcr/tests.ouimeaux_device.test_dimmer/Test_PVT_RTOS_Dimmer_v2.test_toggle_off_transition.yaml
  tests/vcr/tests.ouimeaux_device.test_dimmer/Test_PVT_RTOS_Dimmer_v2.test_toggle_on_transition.yaml
  tests/vcr/tests.ouimeaux_device.test_dimmer/Test_PVT_RTOS_Dimmer_v2.test_turn_off_transition.yaml
  tests/vcr/tests.ouimeaux_device.test_dimmer/Test_PVT_RTOS_Dimmer_v2.test_turn_on_cancels_off_transition.yaml
  tests/vcr/tests.ouimeaux_device.test_dimmer/Test_PVT_RTOS_Dimmer_v2.test_turn_on_transition.yaml
Due: flake8, pylint, deptry

Fixed rare incorrect startup brightness value for Dimmers
  pywemo/ouimeaux_device/dimmer.py
  tests/ouimeaux_device/test_dimmer.py
  tests/vcr/tests.ouimeaux_device.test_dimmer/Test_PVT_OWRT_Dimmer_v1.test_brightness_on_startup.yaml
  tests/vcr/tests.ouimeaux_device.test_dimmer/Test_PVT_RTOS_Dimmer_v2.test_brightness_on_startup.yaml
Due: flake8, pylint, deptry

Fixed rare incorrect startup brightness value for Dimmers (#633)
  pywemo/ouimeaux_device/dimmer.py
  tests/ouimeaux_device/test_dimmer.py
  tests/vcr/tests.ouimeaux_device.test_dimmer/Test_PVT_OWRT_Dimmer_v1.test_brightness_on_startup.yaml
  tests/vcr/tests.ouimeaux_device.test_dimmer/Test_PVT_RTOS_Dimmer_v2.test_brightness_on_startup.yaml
Due: flake8, pylint, deptry

Version 1.3.1
  pyproject.toml
Due: poetry-check, poetry-lock-check, bootstrap-requirements, generateDS

Path conditions:
  poetry-check: any of: ^(pyproject.toml|poetry.lock)$
  poetry-lock-check: any of: ^(pyproject.toml|poetry.lock)$
  bootstrap-requirements: any of: ^(pyproject.toml|poetry.lock|scripts/bootstrap-requirements.txt_)$
  generateDS: any of: ^(pyproject.toml|poetry.lock|scripts/generate_ds.py|pywemo/ouimeaux_device/api/xsd/.*)$
  flake8: any of: \.py$
  pylint: any of: \.py$
  rstcheck: any of: \.rst$
  deptry: any of: \.py$
