Repository pywemo/pywemo: changes, and which pre-commit hooks are due for each by the changed paths.
All: poetry-check, poetry-lock-check, bootstrap-requirements, generateDS, flake8, pylint, rstcheck, deptry

.pre-commit-config.yaml:

repos:
  - repo: local
    hooks:
      - id: poetry-check
        name: poetry-check
        language: system
        entry: poetry check
        pass_filenames: false
        types: [file]
        files: ^(pyproject.toml|poetry.lock)$

      - id: poetry-lock-check
        name: poetry-lock-check
        language: system
        entry: poetry lock
        args: ['--no-update']
        pass_filenames: false
        types: [file]
        files: ^(pyproject.toml|poetry.lock)$

      - id: bootstrap-requirements
        name: bootstrap-requirements
        language: system
        entry: poetry export
        args:
          - --only=bootstrap
          - --format=requirements.txt
          - --output=scripts/bootstrap-requirements.txt_
        pass_filenames: false
        types: [file]
        files: ^(pyproject.toml|poetry.lock|scripts/bootstrap-requirements.txt_)$

      - id: generateDS
        name: generateDS
        language: system
        entry: python scripts/generate_ds.py
        args:
          - pywemo/ouimeaux_device/api/xsd/device.xsd
          - pywemo/ouimeaux_device/api/xsd/service.xsd
        pass_filenames: false
        types: [file]
        files: ^(pyproject.toml|poetry.lock|scripts/generate_ds.py|pywemo/ouimeaux_device/api/xsd/.*)$

      - id: isort
        name: isort
        language: system
        entry: isort
        args: ['--filter-files']
        require_serial: true
        types_or: [cython, pyi, python]

      - id: black
        name: black
        language: system
        entry: black
        require_serial: true
        types_or: [python, pyi]

      - id: flake8
        name: flake8
        language: system
        entry: flake8
        require_serial: true
        types: [python]

      - id: pylint
        name: pylint
        language: system
        entry: pylint
        args: ['--disable=fixme']
        require_serial: true
        types: [python]

      - id: mypy
        name: mypy
        language: system
        entry: mypy
        require_serial: true
        types_or: [python, pyi]
        # By default mypy will prefer .pyi files to py files if both are found
        # While traversing a directory. However mypy will fail if
        # both wemo_services.py & wemo_services.pyi are included in the
        # command line. wemo_services.py is excluded here and pyi files are
        # included in the types_or as a work-around. mypy also has an
        # 'exclude' option that can be placed in pyproject.toml, but similar
        # to flake8 above, any files passed on the command-line bypass
        # 'exclude'.
        exclude: pywemo/ouimeaux_device/api/wemo_services.py

      - id: rstcheck
        name: rstcheck
        language: system
        entry: rstcheck
        types: [rst]

      - id: deptry
        name: deptry
        language: system
        entry: deptry .
        pass_filenames: false
        types: [python]

Post merge fixup of vcr test recording
  tests/vcr/tests.ouimeaux_device.test_dimmer/Test_PVT_RTOS_Dimmer_v2.test_toggle.yaml
Due: none

Version 1.3.1 (#635)
  pyproject.toml
Due: poetry-check, poetry-lock-check, bootstrap-requirements, generateDS

Dependency updates
  poetry.lock
  scripts/bootstrap-requirements.txt_
Due: poetry-check, poetry-lock-check, bootstrap-requirements, generateDS

Dependency updates (#653)
  poetry.lock
  scripts/bootstrap-requirements.txt_
Due: poetry-check, poetry-lock-check, bootstrap-requirements, generateDS

Update lxml = ">=4.6" and other deps
  poetry.lock
  pyproject.toml
  scripts/bootstrap-requirements.txt_
Due: poetry-check, poetry-lock-check, bootstrap-requirements, generateDS

Update lxml = ">=4.6" and other deps (#676)
  poetry.lock
  pyproject.toml
  scripts/bootstrap-requirements.txt_
Due: poetry-check, poetry-lock-check, bootstrap-requirements, generateDS

Bump version 1.4.0
  pyproject.toml
Due: poetry-check, poetry-lock-check, bootstrap-requirements, generateDS

Bump version 1.4.0 (#677)
  pyproject.toml
Due: poetry-check, poetry-lock-check, bootstrap-requirements, generateDS

Add Python 3.12 to the test matrix
  .github/workflows/build.yml
Due: none

Add Python 3.12 to the test matrix (#678)
  .github/workflows/build.yml
Due: none

Revert "Bump actions/download-artifact from 3.0.2 to 4.1.0 (#679)"
  .github/workflows/build.yml
  .github/workflows/publish.yml
Due: none

Revert "Bump actions/upload-artifact from 3.1.3 to 4.0.0 (#681)"
  .github/workflows/build.yml
  .github/workflows/publish.yml
  .github/workflows/scorecard.yml
Due: none

Revert artifact changes (#683)
  .github/workflows/build.yml
  .github/workflows/publish.yml
  .github/workflows/scorecard.yml
Due: none

Replace flake8, black, and isort with ruff
  .pre-commit-config.yaml
  poetry.lock
  pyproject.toml
  scripts/bootstrap-requirements.txt_
  scripts/generate_ds.py
  setup.cfg
Due: poetry-check, poetry-lock-check, bootstrap-requirements, generateDS, flake8, pylint, deptry

Fix generate_ds
  scripts/generate_ds.py
Due: generateDS, flake8, pylint, deptry

edit ruff config
  pyproject.toml
Due: poetry-check, poetry-lock-check, bootstrap-requirements, generateDS

updated generate_ds files
  pywemo/ouimeaux_device/api/xsd/device.py
  pywemo/ouimeaux_device/api/xsd/service.py
Due: generateDS, flake8, pylint, deptry

remove flake8 noqa
  pywemo/__init__.py
  tests/ouimeaux_device/api/unit/test_rules.py
Due: flake8, pylint, deptry

add name to pyproject.toml
  pyproject.toml
Due: poetry-check, poetry-lock-check, bootstrap-requirements, generateDS

first ruff fixes
  pywemo/__init__.py
  pywemo/color.py
Due: flake8, pylint, deptry

fix PT001
  tests/conftest.py
  tests/ouimeaux_device/api/unit/long_press_helpers.py
  tests/ouimeaux_device/test_bridge.py
  tests/ouimeaux_device/test_crockpot.py
  tests/ouimeaux_device/test_device.py
  tests/ouimeaux_device/test_dimmer.py
  tests/ouimeaux_device/test_humidifier.py
  tests/ouimeaux_device/test_insight.py
  tests/ouimeaux_device/test_lightswitch.py
  tests/ouimeaux_device/test_maker.py
  tests/ouimeaux_device/test_outdoor_plug.py
  tests/ouimeaux_device/test_switch.py
  tests/test_subscribe.py
Due: flake8, pylint, deptry

pyproject edit
  pyproject.toml
Due: poetry-check, poetry-lock-check, bootstrap-requirements, generateDS

fix PLR0402
  tests/conftest.py
  tests/ouimeaux_device/api/unit/test_service.py
  tests/ouimeaux_device/api/unit/test_xsd_types.py
  tests/ouimeaux_device/test_device.py
  tests/test_discovery.py
  tests/test_registry_notify_fuzz.py
  tests/test_ssdp.py
  tests/test_subscribe.py
Due: flake8, pylint, deptry

allow print in scripts
  pyproject.toml
Due: poetry-check, poetry-lock-check, bootstrap-requirements, generateDS

Add TKIPAES to supported_encryptions
  pywemo/ouimeaux_device/__init__.py
Due: flake8, pylint, deptry

update all actions
  .github/workflows/build.yml
  .github/workflows/docs.yml
  .github/workflows/labeler.yml
  .github/workflows/publish.yml
  .github/workflows/push-build-changes.yml
  .github/workflows/scorecard.yml
Due: none

Add TKIPAES to supported_encryptions (#743)
  .github/workflows/build.yml
  .github/workflows/docs.yml
  .github/workflows/labeler.yml
  .github/workflows/publish.yml
  .github/workflows/push-build-changes.yml
  .github/workflows/scorecard.yml
  pywemo/ouimeaux_device/__init__.py
Due: flake8, pylint, deptry

poetry update
  poetry.lock
  pyproject.toml
  pywemo/__init__.py
  pywemo/color.py
  pywemo/discovery.py
  pywemo/exceptions.py
  pywemo/ouimeaux_device/__init__.py
  pywemo/ouimeaux_device/api/attributes.py
  pywemo/ouimeaux_device/api/db_orm.py
  pywemo/ouimeaux_device/api/long_press.py
  pywemo/ouimeaux_device/api/service.py
  pywemo/ouimeaux_device/api/xsd/device.py
  pywemo/ouimeaux_device/api/xsd/service.py
  pywemo/ouimeaux_device/api/xsd_types.py
  pywemo/ouimeaux_device/bridge.py
  pywemo/ouimeaux_device/coffeemaker.py
  pywemo/ouimeaux_device/crockpot.py
  pywemo/ouimeaux_device/dimmer.py
  pywemo/ouimeaux_device/humidifier.py
  pywemo/ouimeaux_device/insight.py
  pywemo/ouimeaux_device/lightswitch.py
  pywemo/ouimeaux_device/maker.py
  pywemo/ouimeaux_device/motion.py
  pywemo/ouimeaux_device/outdoor_plug.py
  pywemo/ouimeaux_device/switch.py
  pywemo/ssdp.py
  pywemo/subscribe.py
  pywemo/util.py
  scripts/bootstrap-requirements.txt_
  tests/atheris_stub.py
  tests/ouimeaux_device/api/unit/test_service.py
  tests/ouimeaux_device/test_dimmer.py
  tests/test_discovery.py
  tests/test_registry_notify_fuzz.py
  tests/test_util.py
Due: poetry-check, poetry-lock-check, bootstrap-requirements, generateDS, flake8, pylint, deptry

Remove Python 3.8
  .github/workflows/build.yml
  .github/workflows/publish.yml
Due: none

Poetry export is not a plugin
  pyproject.toml
  scripts/bootstrap-requirements.txt_
Due: poetry-check, poetry-lock-check, bootstrap-requirements, generateDS

typo in 3.9
  .github/workflows/build.yml
Due: none

More updates
  poetry.lock
  pyproject.toml
  pywemo/ouimeaux_device/api/xsd/device.py
  pywemo/ouimeaux_device/api/xsd/service.py
  scripts/bootstrap-requirements.txt_
Due: poetry-check, poetry-lock-check, bootstrap-requirements, generateDS, flake8, pylint, deptry

Update dependencies (#750)
  .github/workflows/build.yml
  .github/workflows/publish.yml
  poetry.lock
  pyproject.toml
  pywemo/__init__.py
  pywemo/color.py
  pywemo/discovery.py
  pywemo/exceptions.py
  pywemo/ouimeaux_device/__init__.py
  pywemo/ouimeaux_device/api/attributes.py
  pywemo/ouimeaux_device/api/db_orm.py
  pywemo/ouimeaux_device/api/long_press.py
  pywemo/ouimeaux_device/api/service.py
  pywemo/ouimeaux_device/api/xsd/device.py
  pywemo/ouimeaux_device/api/xsd/service.py
  pywemo/ouimeaux_device/api/xsd_types.py
  pywemo/ouimeaux_device/bridge.py
  pywemo/ouimeaux_device/coffeemaker.py
  pywemo/ouimeaux_device/crockpot.py
  pywemo/ouimeaux_device/dimmer.py
  pywemo/ouimeaux_device/humidifier.py
  pywemo/ouimeaux_device/insight.py
  pywemo/ouimeaux_device/lightswitch.py
  pywemo/ouimeaux_device/maker.py
  pywemo/ouimeaux_device/motion.py
  pywemo/ouimeaux_device/outdoor_plug.py
  pywemo/ouimeaux_device/switch.py
  pywemo/ssdp.py
  pywemo/subscribe.py
  pywemo/util.py
  scripts/bootstrap-requirements.txt_
  tests/atheris_stub.py
  tests/ouimeaux_device/api/unit/test_service.py
  tests/ouimeaux_device/test_dimmer.py
  tests/test_discovery.py
  tests/test_registry_notify_fuzz.py
  tests/test_util.py
Due: poetry-check, poetry-lock-check, bootstrap-requirements, generateDS, flake8, pylint, deptry

Manually incorporate latest dependabot updates
  poetry.lock
  pyproject.toml
Due: poetry-check, poetry-lock-check, bootstrap-requirements, generateDS

Manually incorporate latest dependabot updates (#761)
  poetry.lock
  pyproject.toml
Due: poetry-check, poetry-lock-check, bootstrap-requirements, generateDS

update deps
  poetry.lock
Due: poetry-check, poetry-lock-check, bootstrap-requirements, generateDS

initial ruff fixes
  pywemo/ouimeaux_device/__init__.py
  pywemo/ouimeaux_device/api/db_orm.py
  pywemo/ouimeaux_device/api/long_press.py
  pywemo/ouimeaux_device/api/rules_db.py
  pywemo/ouimeaux_device/api/service.py
  pywemo/ouimeaux_device/api/wemo_services.pyi
  pywemo/ouimeaux_device/api/xsd/device.py
  pywemo/ouimeaux_device/api/xsd/service.py
  pywemo/ouimeaux_device/bridge.py
  pywemo/ouimeaux_device/humidifier.py
  pywemo/ssdp.py
  pywemo/subscribe.py
  pywemo/util.py
  scripts/generate_ds.py
  scripts/generate_wemo_services.py
  tests/conftest.py
  tests/ouimeaux_device/api/unit/long_press_helpers.py
  tests/ouimeaux_device/api/unit/test_rules.py
  tests/ouimeaux_device/api/unit/test_service.py
  tests/ouimeaux_device/test_bridge.py
  tests/ouimeaux_device/test_crockpot.py
  tests/ouimeaux_device/test_device.py
  tests/ouimeaux_device/test_dimmer.py
  tests/ouimeaux_device/test_humidifier.py
  tests/ouimeaux_device/test_insight.py
  tests/ouimeaux_device/test_lightswitch.py
  tests/ouimeaux_device/test_maker.py
  tests/ouimeaux_device/test_outdoor_plug.py
  tests/ouimeaux_device/test_switch.py
  tests/test_discovery.py
  tests/test_registry_notify_fuzz.py
  tests/test_ssdp.py
  tests/test_subscribe.py
Due: generateDS, flake8, pylint, deptry

ruff format
  pyproject.toml
  pywemo/ouimeaux_device/__init__.py
  pywemo/ouimeaux_device/api/wemo_services.pyi
  pywemo/subscribe.py
  scripts/generate_ds.py
  scripts/generate_wemo_services.py
  tests/conftest.py
  tests/ouimeaux_device/api/unit/test_rules.py
  tests/ouimeaux_device/api/unit/test_service.py
  tests/ouimeaux_device/api/unit/test_xsd_types.py
  tests/ouimeaux_device/test_device.py
  tests/test_discovery.py
  tests/test_registry_notify_fuzz.py
Due: poetry-check, poetry-lock-check, bootstrap-requirements, generateDS, flake8, pylint, deptry

Use Ruff (#762)
  .pre-commit-config.yaml
  poetry.lock
  pyproject.toml
  pywemo/__init__.py
  pywemo/color.py
  pywemo/ouimeaux_device/__init__.py
  pywemo/ouimeaux_device/api/db_orm.py
  pywemo/ouimeaux_device/api/long_press.py
  pywemo/ouimeaux_device/api/rules_db.py
  pywemo/ouimeaux_device/api/service.py
  pywemo/ouimeaux_device/api/wemo_services.pyi
  pywemo/ouimeaux_device/api/xsd/device.py
  pywemo/ouimeaux_device/api/xsd/service.py
  pywemo/ouimeaux_device/bridge.py
  pywemo/ouimeaux_device/humidifier.py
  pywemo/ssdp.py
  pywemo/subscribe.py
  pywemo/util.py
  scripts/generate_ds.py
  scripts/generate_wemo_services.py
  setup.cfg
  tests/conftest.py
  tests/ouimeaux_device/api/unit/test_rules.py
  tests/ouimeaux_device/api/unit/test_service.py
  tests/ouimeaux_device/api/unit/test_xsd_types.py
  tests/ouimeaux_device/test_bridge.py
  tests/ouimeaux_device/test_crockpot.py
  tests/ouimeaux_device/test_device.py
  tests/ouimeaux_device/test_dimmer.py
  tests/ouimeaux_device/test_humidifier.py
  tests/ouimeaux_device/test_insight.py
  tests/ouimeaux_device/test_lightswitch.py
  tests/ouimeaux_device/test_maker.py
  tests/ouimeaux_device/test_outdoor_plug.py
  tests/ouimeaux_device/test_switch.py
  tests/test_discovery.py
  tests/test_registry_notify_fuzz.py
  tests/test_ssdp.py
  tests/test_subscribe.py
Due: poetry-check, poetry-lock-check, bootstrap-requirements, generateDS, flake8, pylint, deptry

fix clusterfuzzlite
  .clusterfuzzlite/Dockerfile
  .clusterfuzzlite/build.sh
Due: none
