Repository pywemo/pywemo: changes, and which pre-commit hooks are due for each by the changed paths.
All: poetry-check, poetry-lock-check, bootstrap-requirements, generateDS, flake8, pylint, rstcheck, deptry

.pre-commit-config.yaml:

repos:
  - repo: local
    hooks:
      - id: poetry-check
        name: poetry-check
        language: system
        entry: poetry check
        pass_filenames: false
        types: [file]
        files: ^(pyproject.toml|poetry.lock)$

      - id: poetry-lock-check
        name: poetry-lock-check
        language: system
        entry: poetry lock
        args: ['--no-update']
        pass_filenames: false
        types: [file]
        files: ^(pyproject.toml|poetry.lock)$

      - id: bootstrap-requirements
        name: bootstrap-requirements
        language: system
        entry: poetry export
        args:
          - --only=bootstrap
          - --format=requirements.txt
          - --output=scripts/bootstrap-requirements.txt_
        pass_filenames: false
        types: [file]
        files: ^(pyproject.toml|poetry.lock|scripts/bootstrap-requirements.txt_)$

      - id: generateDS
        name: generateDS
        language: system
        entry: python scripts/generate_ds.py
        args:
          - pywemo/ouimeaux_device/api/xsd/device.xsd
          - pywemo/ouimeaux_device/api/xsd/service.xsd
        pass_filenames: false
        types: [file]
        files: ^(pyproject.toml|poetry.lock|scripts/generate_ds.py|pywemo/ouimeaux_device/api/xsd/.*)$

      - id: isort
        name: isort
        language: system
        entry: isort
        args: ['--filter-files']
        require_serial: true
        types_or: [cython, pyi, python]

      - id: black
        name: black
        language: system
        entry: black
        require_serial: true
        types_or: [python, pyi]

      - id: flake8
        name: flake8
        language: system
        entry: flake8
        require_serial: true
        types: [python]

      - id: pylint
        name: pylint
        language: system
        entry: pylint
        args: ['--disable=fixme']
        require_serial: true
        types: [python]

      - id: mypy
        name: mypy
        language: system
        entry: mypy
        require_serial: true
        types_or: [python, pyi]
        # By default mypy will prefer .pyi files to py files if both are found
        # While traversing a directory. However mypy will fail if
        # both wemo_services.py & wemo_services.pyi are included in the
        # command line. wemo_services.py is excluded here and pyi files are
        # included in the types_or as a work-around. mypy also has an
        # 'exclude' option that can be placed in pyproject.toml, but similar
        # to flake8 above, any files passed on the command-line bypass
        # 'exclude'.
        exclude: pywemo/ouimeaux_device/api/wemo_services.py

      - id: rstcheck
        name: rstcheck
        language: system
        entry: rstcheck
        types: [rst]

      - id: deptry
        name: deptry
        language: system
        entry: deptry .
        pass_filenames: false
        types: [python]

Initial ClusterFuzzLite support
  .clusterfuzzlite/Dockerfile
  .clusterfuzzlite/build.sh
  .clusterfuzzlite/project.yaml
  .clusterfuzzlite/requirements.txt
  .dockerignore
  .gitignore
Due: none

ClusterFuzzLite workflows
  .github/workflows/cflite.yml
  .github/workflows/cflite_cron.yml
Due: none

Use ClusterFuzzLite for fuzzing the NOTIFY http endpoint (#449)
  .clusterfuzzlite/Dockerfile
  .clusterfuzzlite/build.sh
  .clusterfuzzlite/project.yaml
  .clusterfuzzlite/requirements.txt
  .dockerignore
  .github/workflows/cflite.yml
  .github/workflows/cflite_cron.yml
  .gitignore
  tests/atheris_stub.py
  tests/test_registry_notify_fuzz.py
Due: flake8, pylint, deptry

Pin oss-fuzz Python builder docker image
  .clusterfuzzlite/Dockerfile
  .github/dependabot.yml
Due: none

Pin oss-fuzz Python builder docker image (#450)
  .clusterfuzzlite/Dockerfile
  .github/dependabot.yml
Due: none

Handle invalid value for colortemperature
  pywemo/ouimeaux_device/bridge.py
  tests/ouimeaux_device/test_bridge.py
  tests/test_registry_notify_fuzz.py
Due: flake8, pylint, deptry

f string
  pywemo/ouimeaux_device/bridge.py
Due: flake8, pylint, deptry

Handle invalid value for colortemperature (#454)
  pywemo/ouimeaux_device/bridge.py
  tests/ouimeaux_device/test_bridge.py
  tests/test_registry_notify_fuzz.py
Due: flake8, pylint, deptry

Ensure debug is a keyword arg in discovery
  pywemo/discovery.py
Due: flake8, pylint, deptry

Use UPPER_SNAKE_CASE for enum constants
  pywemo/ouimeaux_device/coffeemaker.py
  pywemo/ouimeaux_device/crockpot.py
  pywemo/ouimeaux_device/humidifier.py
Due: flake8, pylint, deptry

Ensure debug is a keyword arg in discovery (#455)
  pywemo/discovery.py
Due: flake8, pylint, deptry

Provide automatic labels for the release changelog
  .github/labler.yml
  .github/release.yml
  .github/workflows/labler.yml
Due: none

Provide automatic labels for the release changelog (#459)
  .github/labler.yml
  .github/release.yml
  .github/workflows/labler.yml
Due: none

Fix labeler name
  .github/labeler.yml
  .github/workflows/labeler.yml
Due: none

Fix labeler name (#460)
  .github/labeler.yml
  .github/workflows/labeler.yml
Due: none

Remove flake8 global ignores
  setup.cfg
Due: none

Move pylint overrides to individual lines/classes
  pyproject.toml
  pywemo/discovery.py
  pywemo/ouimeaux_device/__init__.py
  pywemo/ouimeaux_device/api/db_orm.py
  pywemo/ouimeaux_device/api/long_press.py
  pywemo/ouimeaux_device/api/rules_db.py
  pywemo/ouimeaux_device/api/service.py
  pywemo/ouimeaux_device/api/wemo_services.py
  pywemo/ouimeaux_device/api/xsd_types.py
  pywemo/ouimeaux_device/bridge.py
  pywemo/ouimeaux_device/switch.py
  pywemo/ssdp.py
  pywemo/subscribe.py
  pywemo/util.py
Due: poetry-check, poetry-lock-check, bootstrap-requirements, generateDS, flake8, pylint, deptry

Remove xsd from pylint ignore-paths
  pyproject.toml
Due: poetry-check, poetry-lock-check, bootstrap-requirements, generateDS

Add pdoc dependency
  poetry.lock
  pyproject.toml
Due: poetry-check, poetry-lock-check, bootstrap-requirements, generateDS

Add pytest tests to the PR template checklist
  .github/PULL_REQUEST_TEMPLATE.md
Due: none

Misplaced comma
  pywemo/README.md
Due: none

Convert numpy-style arg lists to google-style
  pywemo/ouimeaux_device/__init__.py
Due: flake8, pylint, deptry

Covert a few comments to doc strings.
  pywemo/ouimeaux_device/api/attributes.py
  pywemo/ouimeaux_device/api/service.py
  pywemo/subscribe.py
Due: flake8, pylint, deptry

Add basic API documentation (#465)
  .github/workflows/docs.yml
  README.rst
  poetry.lock
  pyproject.toml
  pywemo/README.md
  pywemo/__init__.py
  pywemo/ouimeaux_device/__init__.py
  pywemo/ouimeaux_device/api/attributes.py
  pywemo/ouimeaux_device/api/service.py
  pywemo/subscribe.py
Due: poetry-check, poetry-lock-check, bootstrap-requirements, generateDS, flake8, pylint, rstcheck, deptry

Add pytest tests to the PR template checklist (#466)
  .github/PULL_REQUEST_TEMPLATE.md
Due: none

Move pylint overrides to individual files (#458)
  pyproject.toml
  pywemo/discovery.py
  pywemo/ouimeaux_device/__init__.py
  pywemo/ouimeaux_device/api/db_orm.py
  pywemo/ouimeaux_device/api/long_press.py
  pywemo/ouimeaux_device/api/rules_db.py
  pywemo/ouimeaux_device/api/service.py
  pywemo/ouimeaux_device/api/wemo_services.py
  pywemo/ouimeaux_device/api/xsd_types.py
  pywemo/ouimeaux_device/bridge.py
  pywemo/ouimeaux_device/switch.py
  pywemo/ssdp.py
  pywemo/subscribe.py
  pywemo/util.py
Due: poetry-check, poetry-lock-check, bootstrap-requirements, generateDS, flake8, pylint, deptry

Remove flake8 global ignores (#457)
  setup.cfg
Due: none

Supply warnings for deprecated bridge Lights/Groups
  pywemo/ouimeaux_device/bridge.py
  tests/ouimeaux_device/test_bridge.py
Due: flake8, pylint, deptry

Supply warnings for deprecated bridge Lights/Groups (#471)
  pywemo/ouimeaux_device/bridge.py
  tests/ouimeaux_device/test_bridge.py
Due: flake8, pylint, deptry

1.0.0 release
  pyproject.toml
Due: poetry-check, poetry-lock-check, bootstrap-requirements, generateDS

1.0.0 release (#474)
  pyproject.toml
Due: poetry-check, poetry-lock-check, bootstrap-requirements, generateDS

Fix --provenance-path in release notes
  .github/RELEASE_NOTES_TEMPLATE.md
Due: none

Add Scorecard/BestPractices/SLSA3 badges
  README.rst
Due: rstcheck

Fix --provenance-path in release notes (#475)
  .github/RELEASE_NOTES_TEMPLATE.md
Due: none

Add Scorecard/BestPractices/SLSA3 badges (#476)
  README.rst
Due: rstcheck

Use UPPER_SNAKE_CASE for enum constants (#456)
  pywemo/ouimeaux_device/coffeemaker.py
  pywemo/ouimeaux_device/crockpot.py
  pywemo/ouimeaux_device/humidifier.py
Due: flake8, pylint, deptry

Decrease the frequency of NOTIFY messages
  pywemo/ssdp.py
Due: flake8, pylint, deptry
